@page
@model ZenoWeatherAppWeb.Pages.AboutModel
@{
}

<div id="aboutContainer">
	<div class="container-xxl bd-gutter mt-4 align-middle ">
		<div class="col-md-8 mx-auto text-center align-middle">
			<div class="rounded-circle d-block mx-auto mb-3 shadow" style="background: #0078d7; padding: 32px; width: fit-content;">
				<svg class="bi pe-none" style="color: rgba(255,255,255,.8);" width="96" height="96" role="img" aria-label="Weather"><use xlink:href="#weather"></use></svg>
			</div>
			<h1 class="mb-3 fw-semibold">About</h1>
			<p class="lead mb-4">       Weather app implemented using Windows Presentation Foundation (WPF) and ASP.NET Razor pages. Data is provided by the AccuWeather API and supports Free-tier access. Source code is available on GitHub.</p>
		</div>
	</div>
</div>

@*<div class="height-100 d-flex " style="background-image: linear-gradient(45deg, rgba(2,0,36,0) 0%, #9fd5ff 100%);">

	<Button title="menu" class="btn btn-primary mobileMenuBackground" type="button"></Button>
	<div class="mx-auto text-center">
		<div class="pageParentDiv centerDiv">
			<h1 style="font-size: 56px; font-weight: 700">About</h1>
			<div class="rounded-circle d-block shadow" style="background: #0078d7; padding: 32px; width: fit-content;">
				<svg class="bi pe-none" style="color: rgba(255,255,255,.8);" width="96" height="96" role="img" aria-label="Weather"><use xlink:href="#weather"></use></svg>
			</div>

		</div>
		<p class="centerDiv" style="font-size: 18px; max-width:500px; top: 75%; left: 40%">       Weather app implemented using Windows Presentation Foundation (WPF) and the MahApps Metro UI library. Data is provided by the AccuWeather API and supports Free-tier access. Source code is available on GitHub.</p>
	</div>
</div>*@