@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
    font-size: 14px;
}

main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

html, body {
    overflow: auto;
}

.hamburgerMenu {
    background-color: #434343;
}

.hamburgerIcons {
    font-size: 2rem;
    color: white;
}


:root {
    --header-height: 0;
    --nav-width: 48px;
    --first-color: #444444;
    --first-color-light: #0e6eba;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-fixed);
    transition: .5s;
}


.weatherHeader {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    vertical-align: central;
}

.header_toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: .6rem;
    margin-left: 8px;
}

/*.header_toggle:hover {
    background: #303030;
}*/

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

    .header_img img {
        width: 40px;
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding-left: 12px;
}

.nav_logo {
    padding-left: 8px;
}
/*.nav_logo {
    margin-bottom: 2rem;
}*/
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    padding-left: 32px;
}

.nav_link, .nav_logo {
    position: relative;
    color: var(--white-color);
    padding-top: .7rem;
    padding-bottom: .7rem;
    transition: .3s;
    font-size: 16px;
}

    .nav_link:hover, .nav_logo:hover {
        color: var(--white-color);
    }

    .nav_link:hover {
        background: #29597f;
    }

    .nav_logo:hover {
        background: #303030;
    }

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

/*.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}*/

.active {
    background: var(--first-color-light);
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color);
    }

.height-100 {
    height: 100vh;
}

.mobileMenuBackground {
    height: 48px;
    width: 48px;
    border-radius: 0px 0px 4px 0px;
    background: #444444;
    border-color: transparent !important;
    display: none;
}

.settingsPageLabel {
    font-weight: 600;
    font-size: 15px;
    vertical-align: -webkit-baseline-middle;
}

.pageParentDiv
{
    margin-left: 48px;
}

.pageParentDivOffset
{
    margin-left: 0px;
}

.pageParentDivIndex {
    margin-left: 48px !important;
}

.currentConditionsGridTile {
    min-height: 128px;
    min-width: 96px;
    display: flex;
}

.forecastGridTile {
    min-height: 128px;
    min-width: 96px;
    display: flex;
    background-color: #0078d7 !important;
}

.currentConditionsGridTile span, .forecastGridTile span {
    margin: 0;
    align-self: flex-end;
    color: white;
}

.centerDiv {
    position: absolute;
    left: 60%;
    top: 40%;
    margin: -100px 0 0 -150px;
}

.bd-example-row .row > .col, .bd-example-row .row > [class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

@media screen and (max-width: 767px) {
    .pageParentDiv {
        margin-left: 0px;
    }
    .pageParentDivOffset {
        margin-left: 48px;
    }

    .pageParentDivIndex {
        margin-left: 0px !important;
    }

    .centerDiv {
        margin: -100px 0 0 -150px !important;
    }

    .mobileMenuBackground {
        display: block;
    }
}

.settingsDiv {
    padding: 8px;
}

.largeToggleSwitch {
    float: right !important;
    margin-left: 12px !important;
    height: 24px !important;
    width: 48px !important;
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
/*    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }*/

    .header {
        display: none;
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
        left: 0;
        padding: 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

/*    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }*/
}